<h1>Admin Dashboard</h1>

<%= link_to "Create a Customer", new_user_path %><br>
<br>
<%= link_to "Search for a Customer", users_path  %><br>
- Create an Order<br>
- Process Results<br>
- View Test Results<br>
- Edit Account Information<br>

<br>
