<p>Your PDF of QR codes is ready.</p>

<p>Please use the following link to download the PDF.</p>	

<p><%= link_to 'PDF of QR Codes', raw(@pdf_url.to_s) %></p>

<p>If you receive a timeout error, please render the qr codes from the site again.  This link will be available for one hour after generation.</p>
