<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your test results are in!</h1>
    <p>
      To see your greatly anticipated results please follow this link:  <%= link_to result_path(@test), result_path(@test) %>.
    </p>
    <p>Thank you for testing with Medsafe Labs.  Clean medicine, verified.</p>
  </body>
</html>