<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have testing results available</h1>
    <p>
      To view your results, just follow this link: <%= link_to result_path(@test), result_path(@test) %>.
    </p>
    <p>Thanks for using MedSafeLabs!</p>
  </body>
</html>