<p><b>Quick Links</b></p>
<%= link_to "Create a Customer", new_user_path %><br>
<br>
<%= link_to "Search for a Customer", users_path  %><br>
<br>
<br>
<p><b>Testing Process...</b></p>
<ol>
	<li>Create or find a customer.  The customer you're working with will appear in the top nav.</li>
	<li>Create an order for the customer:  Set the number of tests, amount, and take payment.</li>
	<li>Ensure that you see the customer's name in the "Working with Customer" in the top nav.  If you don't see them, search for and view the customer.</li>
	<li>Receive a sample:  Either scan a new QR code or add one to the url hostname/qr/(number)</li>
	<li>You can either navigate to the test or scan the code to bring up the test.  Update the test fields and set it to In Progress.</li>
	<li>Run the test!  Update the test with the results and pict of the test plate.</li>
	<li>Set the test to complete and the results will be emailed to the customer.  Note:  Customers need to confirm their site invitation before viewing results.  (Yes there is a ticket for this.)</li>
<br>