<p>Hello <%= @resource.email %>!</p>

<p>Hello and welcome to Medsafe Labs LLC. Please click the link below to complete your user profile.</p>

<p><%= link_to 'Accept Invitation', accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>If this account was created in error, please disregard.</p>
