<p>Hello,</p>

<p>A request has been made to change your password on MedSafeLabs.com  If you created this request, please follow the link below to reset your password.</p>

<p>If you have no idea what we're talking about, please disregard.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Don't worry, your password won't change until you access the link above and create a new one.</p>

